.heading {
    color: var(--theme);
    font-weight: 800;
    font-size: 25px;
}

.descr {
    padding: 0 0 20px 0;
}

.link {
    border-bottom: solid 0.5px var(--lighttheme);
    transition: 0.3s linear;
}

.link:hover {
    border-bottom: solid 2px var(--lighttheme);
}


